.header {
  background-color: #202020;
  height: 55px;

  .header__navBar {
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navBar__logo {
      height: auto;
      .youtube-logo {
        display: flex;
        align-items: center;

        i {
          color: #ff0018;
          font-size: 30px;
          margin-right: 5px;
        }
        span {
          color: white;
          font-weight: 800;
          font-size: 18px;
        }
      }
    }

    .navBar__search {
      width: 100%;
      display: flex;
      justify-content: center;
      height: auto;
      .search__wrapper {
        width: 100%;
        form {
          width: 100%;
          .input__container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            input {
              width: 45%;
              margin-right: 10px;
              padding: 7px 15px;
              font-size: 15px;
              font-weight: 600;
              background-color: #121212;
              border: 1px solid;
              border-radius: 5px;
              border-color: #bdc3c7;
              color: white;

              &::placeholder {
                font-size: 15px;
                font-weight: 300;
                color: #747474;
              }
            }
            .search__container {
              cursor: pointer;
              display: flex;
              align-items: center;
              border: 1px solid;
              border-color: #bdc3c7;
              border-radius: 5px;
              padding: 5px 10px;
            }
          }
          i {
            color: white;
            font-size: 20px;
          }
        }
      }
    }

    .navBar__menu {
      height: auto;
      justify-self: end;

      ul {
        display: flex;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
        li {
          width: max-content;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            color: $white;
          }
        }
        i {
          font-size: 25px;
        }
        a {
          text-decoration: none;
          color: $white;
        }
        li:not(:last-child) {
          margin-right: 20px;
        }

        li:nth-child(2) {
          .u-avatar {
            height: 25px;
            background-color: $white;
          }
        }
      }
    }
    .toggle-bar {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 100%;
    .header__navBar {
      flex-direction: column;
      padding: 12px 10px;

      .navBar__logo {
        width: 100%;
        padding: 10px 12px;
        .youtube-logo {
          width: fit-content;
        }
      }
      .navBar__search {
        width: 100%;
        padding: 10px 12px;
        display: none;
        margin-top: 20px;
        .search__wrapper {
          width: 100%;
          form {
            .input__container {
              input {
                width: 100%;
              }
            }
          }
        }
      }
      .navBar__menu {
        padding: 10px 12px;
        display: none;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          li {
            text-align: center;
            // margin-right: 0;
            margin: 13px 20px;
          }
        }
      }
      .toggle-bar {
        display: flex;
        color: $white;
        position: absolute;
        right: 21px;
        font-size: 23px;
        top: 24px;
        cursor: pointer;
      }

      .navBar__search.active,
      .navBar__menu.active {
        display: flex;
      }
    }
  }
}
