.videoBlock {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  .videoBlock__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .info__avatar {
      height: 60px;
      .u-avatar {
        height: 60px;
        margin-right: 15px;
        background-color: transparent;
      }
    }
  }

  a {
    color: black;
    width: 100%;
  }
  .videoBlock__thumbnail {
    width: 100%;
    // max-width: 350px;
    height: 350px;
    margin-bottom: 15px;
  }
  .videoBlock__title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .videoBlock {
    padding: 20px 40px;
    .videoBlock__thumbnail {
      height: 250px;
    }
  }
}
