.videoBlock {
  // width: 100%;
  .videoBlock__thumbnail {
    max-width: 300px;
    height: 200px;
    margin-right: 30px;
  }
  .videoBlock__title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
}
