.videoBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: black;
  }
  .videoBlock__thumbnail {
    max-width: 300px;
    height: 200px;
    margin-bottom: 15px;
  }
  .videoBlock__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}
