.video-detail__container {
  width: 100%;
  .videoPlayer {
    position: relative;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      .videoPlayer__controls {
        opacity: 1;
      }
    }
    video {
      width: 100%;
      height: 100%;
    }
    .videoPlayer__controls {
      width: -webkit-fill-available;
      opacity: 0;
      transition: opacity 0.4s linear;
      color: white;
      position: absolute;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;

      .videoPlayer__column:first-child {
        display: flex;
        align-items: center;
        #jsVolume {
          height: 10px;
          width: 100px;
          border-radius: 5px;
          background-color: #d7dcdf;
          outline: none;
        }
        #jsVolumeBtn {
          margin-right: 10px;
        }
      }
      .videoPlayer__column:nth-child(2) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
        progress {
          width: 100%;
          height: 5px;
          border: 0px;
          background: white;
          cursor: pointer;

          &::-webkit-progress-bar {
            background-color: white;
          }
          &::-webkit-progress-value {
            background-color: yellowgreen;
          }
        }
      }

      .videoPlayer__column:nth-child(3) {
        display: flex;
        justify-content: center;
        align-items: center;
        .videoPlayer__time-container {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
        }
        .videoPlayer__volume-container {
          position: relative;
          margin-right: 10px;

          input {
            position: absolute;
            left: -55px;
            bottom: 85px;
            transform: rotate(-90deg);
            opacity: 0;
            cursor: pointer;
          }
        }
      }
      i {
        font-size: 25px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .video-detail__container {
    padding: 0 20px;
    box-sizing: border-box;
    .videoPlayer {
      height: 250px;
    }
  }
}
