.home-videos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(430px, 1fr));
  justify-content: center;
  box-sizing: border-box;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .home-videos {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
