include ../mixins/message
doctype html
html
  head
    script(src="https://kit.fontawesome.com/142b9259dc.js", crossorigin="anonymous")
    title #{siteName} | #{pageTitle} 
    link(rel="stylesheet", href="/static/styles.css")

  body    
    include ../partials/header  
    main
      if messages.error        
        +message({
          type:'error',
          text:messages.error
          })
      else if messages.info         
        +message({
          type: 'info',
          text: messages.info
        })
      else if messages.success        
        +message({
          type: 'success',
          text: messages.success
        })
      block content
    include ../partials/footer
    script(src="/static/main.js")