include ../mixins/message
doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")    
    title #{siteName} | #{pageTitle} 
    script(src="https://kit.fontawesome.com/142b9259dc.js" crossorigin="anonymous")
    link(rel="stylesheet", href="/static/styles.css")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel="shortcut icon" href="https://img.icons8.com/color/48/000000/youtube-play.png" type="image/x-icon")
    link(href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type="text/css")
    link(href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" rel="stylesheet" id="font-awesome-5-kit-css")
    link(href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all" rel="stylesheet" id="font-awesome-5-kit-css")
    link(href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet" id="font-awesome-5-kit-css")

  body    
    include ../partials/header  
    main
      if messages.error        
        +message({
          type:'error',
          text:messages.error
          })
      else if messages.info         
        +message({
          type: 'info',
          text: messages.info
        })
      else if messages.success        
        +message({
          type: 'success',
          text: messages.success
        })
      block content
    include ../partials/footer
    script(src="/static/main.js")